@using BudgetPad.Shared.Dtos
@inject HttpClient Http
@inject IModalService Modal

<div class="alert alert-danger" role="alert">
    Are you sure that you want to delete this payment?<br />
    <button class="btn btn-danger" onclick="@(() => Delete())">Delete</button>
    <button class="btn btn-secondary" onclick="@(() => Cancel())">Cancel</button>
</div>

@functions{
    [CascadingParameter] ModalParameters Parameters { get; set; }

    private Guid paymentId { get; set; }

    protected override void OnInit()
    {
        paymentId = Parameters.Get<Guid>("paymentId");
    }

    private async Task Delete()
    {
        await Http.DeleteAsync("api/bills/DeletePayment/" + paymentId);
        Modal.Close(ModalResult.Ok($"The payment {paymentId} was deleted successfully."));
    }

    private void Cancel()
    {
        Modal.Close(ModalResult.Cancel());
    }
}