@page "/dashboard/{budgetId}"
@using BudgetPad.Shared.Dtos.DtoExtensions
@inject HttpClient Http

@if (budget == null)
{
    <span>Loading...</span>
}
else
{
    <h1>@budget.ShortName - Dashboard</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 text-center border">
                <p>Quick Links Area</p>
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <div class="card-columns">
                    <CategoryBreakdown CategoryGroups=@budget.CategoryGroups />
                    <FundsBreakdown Budget=@budget />
                </div>
            </div>
        </div>
    </div>
}


@functions {
    [Parameter]
    private string budgetId { get; set; }

    private BudgetDtoExtension budget;

    protected override async Task OnInitAsync()
    {
        budget = await Http.GetJsonAsync<BudgetDtoExtension>("api/budgets/" + budgetId);
    }
}
